.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Navbar */
.navbar {
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #282c34;
  
}

.knight {
  width:50px;
  height:50px;
  margin-left: 15px;
}

.nav-header {
  font-size: 20px;
  color: white;
  margin: 0 0 0 10px;
}

.navbar-content {
  display: flex;
  height: 100%;

  align-items: center;
}

.navbar-nav {
  display: flex;
  color: white;
  margin-left: 10%;
}

.list-link {
  display: inline;
  list-style-type: none;
  padding: 0 15px 0 15px;
}

.navlink {
  color: white;
  text-decoration: none;
}


.board-container {
  width: 500px;
  height:500px;
}

.navbar-list {
  display: flex;
  align-items: center;
}

/* Footer */

.footer {
  width: 100%;
  background-color: #282c34;
}

.footer-content {
  height: 300px;
  width: 80%;
}

/* Home */

.home, .grunder, .pjäser, .regler, .lärdig, .öppningar, .historia, .spanish {
  min-height: 750px;
  background: rgb(20, 24, 36);
  width: 100%;
  padding-bottom: 50px;
}

.historia {
  padding-top: 30px;
}

.piece-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 10px 30px 10px 30px;
  outline: none;
  font-size: 15px;
}

.nav-big-link, .link {
  text-decoration: none;
}

.link {
  color: white;

}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Regler */

.iframe {
  width: 600px;  
  height: 397px;
  border: none;

}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0 0 20px;
  gap: 30px;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 400px;
  height: 120px;
  background-color: #48446d;

}

.card-vert {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 200px;
  padding: 0 0 15px 0;
  align-items: center;
  justify-content: center;
  background-color: #44626d;
  
}




.resize-card-image {
  width: 75px;
  height: 75px;
  margin: 5px 10px 5px 10px;
}


.card-header {
  color: black;
  text-align: left;
  padding: 0;
  margin: 0;
}

.card-header-white {
  color: white;
  text-align: left;
  padding: 0;
  margin: 0;
}

.vert-card-header {
  color: white;
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 0;
}

.vert-card-paragraph {
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 0;
  margin: 0;
}


.card-paragraph {
  color: white;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

.card-note {
  color: rgb(199, 199, 199);
  text-align: left;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

/* Öppningar */

.öppningar {
  padding-top: 20px;
}

.opening-image {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(54, 48, 36);
  
}

.opening h2 {
  font-size: 15px;
  color: #90bdcf;
  margin: 0 0 10px 0;
}

.opening-type {
  display: flex;
  
  padding-left: 50px;
  margin-bottom: 15px;
}

.opening-type-header {
  color: white;
  padding-left: 50px;
  margin: 0;
  font-size: 12px;
  font-weight: 500;

}


.player-card  {
  
  height: 300px;
}

.player-card img {

}

.history-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
 
  padding: 30px;
  border-radius: 3px;
}

.history-header {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
} 


.history-card-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.crop-photo {
  height: 270px;
  max-width: 270px;
}